{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block css %}{% endblock %}
    <title> {% block titulo %} ROL DE PAGOS {% endblock %}</title>
  </head>
  <body>
    <header class="header">
      <nav class="navegacion">
        <a href="{% url 'inicio' %}" class="logo">
          <img src="{% static 'img/tips-para-hacer-un-logo-1020x680-PhotoRoom.png' %}" 
          width="50px" alt="logo">
          <div class="logo">
            Gerente de la Empresa "BAJ & ASOCIADOS"
          </div>
        </a>
        <ul class="menu">
          <li><a href="{% url 'cargo' %}">Cargos</a></li>
          <li><a href="{% url 'departamento' %}">Departamento</a></li>
          <li><a href="{% url 'empleado' %}">Empleado</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block contenido %}
      <section class ="principal">
        <center>
        <img width="1000px" 
        src="../static/img/portada.svg"alt="Sin Imagen">
      </center>
      </section>
      {% endblock %}
    </main>
  </body>
  </html>